@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  --color-body: #4e4141; 
  --color-background: #f7faed;
  --color-accent: #e7bed2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Typography */

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-body);
  background: var(--color-background);
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

img {
  width: 100%;
  height: auto;
}